.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.2rem;
  background: red;
  border: 1px solid;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}

@media (min-width: 500px) {
  .Card {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 1000px) {
  .Card {
    width: 8rem;
    height: 8rem;
  }
}

.Card-visible {
  background: white;
}

.Card-done {
  background: mediumaquamarine;
  border: aquamarine;
}
